---
import type { ImageMetadata } from "astro";
import Image from "../common/Image.astro";

const images = import.meta.glob<{ default: ImageMetadata }>('~/assets/images/carousel/*.{jpeg,jpg,png,gif}', {
  import: 'default',
  eager: true
});

---
<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-[540px] overflow-hidden rounded-lg">
      {
        Object.keys(images).map((image) => (
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <Image 
              src={images[image].src} 
              class="absolute block w-full h-full object-cover" 
              alt="..."
              width={1024}
              height={800}
            />
          </div>
        ))
      }
    </div>
</div>
