---
import Image from '~/components/common/Image.astro';

interface Image {
  src: string;
  alt: string;
}

const images: Array<Image> = [{
  src: '~/assets/images/image.png',
  alt: 'Image 1',
},
{
  src: '~/assets/images/image.jpg',
  alt: 'Image 2',
},
{
  src: '~/assets/images/image2.webp',
  alt: 'Image 3',
}];
---
<div class="carousel rounded-box">
  {
  images.map((image, i) => (
    <div class="carousel-item">
      <Image
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        width={600}
        height={600}
        src={image.src}
        alt={image.alt}
      />
    </div>
  ))}

