---
import Steps from './Steps2.astro';
export interface Props {
  footNote?: string;
  theme?: string;
}

const { footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <Steps
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: 'https://api.whatsapp.com/send/?phone=99806%C2%A077640&text=Hello, I\'m ready to book my Dandeli adventure! 🌲🚣 Please confirm my reservation. Excitement is building!&type=phone_number&app_absent=0',
      icon: 'tabler:brand-whatsapp',
      target: '_blank'
    }}
    items={[
      {
        title: 'Whatsapp us',
        description: '9980677640',
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Call us',
        description: '+91 9980677640',
        icon: 'tabler:headset',
      },
    ]}
  />
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="text-sm mr-4 dark:text-slate-400">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
