---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero2.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'DandeliTravels — Your Passport to Wilderness Adventures and Tranquil Retreats',
  ignoreTitleTemplate: true,
};

---
<Layout metadata={metadata}>
  <div id="home">
  <Hero
    actions={[
  {
    variant: 'primary',
    text: 'Enquire Now',
    href: 'https://api.whatsapp.com/send/?phone=99806%C2%A077640&text=Hello,%20I%27m%20ready%20to%20book%20my%20Dandeli%20adventure!%20%F0%9F%8C%B2%F0%9F%9A%A3%20Please%20confirm%20my%20reservation.%20Excitement%20is%20building!&type=phone_number&app_absent=0',
    icon: 'mdi:phone',
  },
      { text: 'Learn more', href: '#services' },
    ]}
    image={{ src: '~/assets/images/image.png', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      Experience Luxury at Our Top <span class="text-accent dark:text-white highlight"> Dandeli </span> Resort
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      Discover the magic of Dandeli resorts through our Affordable <span class="font-semibold">Dandeli</span> Packages. 
      Turn every moment into a treasure as you explore the beauty of this destination 
      and create lasting memories with our <span class="font-semibold">Dandeli</span> adventure activities.
    </Fragment>
  </Hero>
</div>
  <Features2
    transition:animate="slide"
    id="services"
    title="Stay in Style at Top Resorts in Dandeli"
    subtitle="Dandeli Activities for the Bold and Curious"
    tagline="Experience the Best with Our Affordable Dandeli Packages"
    items={[
      {
        title: 'Bespoke Hospitality Experience',
        description:
          'Experience personalized hospitality from the moment you arrive until you leave – our commitment to individual attention ensures your stay is exceptional.',
        icon: 'mdi:door',
      },
      {
        title: 'Chill in Style: Cozy Homestays & Resorts',
        description:
          'Relax in our cozy homestays & Resorts in Dandeli, created for your Comfort. Rejuvenate in a peaceful and stylish setting that feels like home with Best Dandeli Resort Packages.',
        icon: 'mdi:home',
      },
      {
        title: "Exciting Dandeli Resorts for Thrill Seekers",
        description:
          'Experience Exciting Dandeli Adventure Activities at the Top Resorts in Dandeli, where endless Thrills, Activities, Sightseeing and Entertainment await to make your Vacation Unforgettable.',
        icon: 'mdi:bag-personal',
      },
      {
        title: 'Your Priorities are Our Focus',
        description:
          'At our locations, we put your wishes first. We take care of everything you want, making your Dandeli stay not just memorable but truly remarkable.',
        icon: 'mdi:store-24-hour',
      },
      {
        title: 'Get Ready for a Fun-Filled Experience!',
        description:
          'Prepare for continuous enjoyment with our music, fun, and entertainment. Your experience with us guarantees joy, and unforgettable moments at Dandeli Resorts.',
        icon: 'mdi:party-popper',
      },
      {
        title: "Escape to Peaceful Nature Retreats",
        description:
          'Find peace in our scenic getaways, surrounded by nature\'s beauty. Explore the outdoors and reconnect with nature at Our Dandeli Resort.',
        icon: 'mdi:forest',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-100 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
  <Content
    id="accommodations"
    isReversed
    tagline="Stay at Our Dandeli Resorts"
    title="Dandeli Resorts for Every Explorer"
    items={[
      {
        title: 'River Rafting Rush',
        description:
          'Take on the thrilling white waters of the Kali River with an exhilarating river rafting adventure.',
      },
      {
        title: 'Lush Jungle Retreat',
        description:
          'Immerse yourself in nature\'s beauty with a night stay amidst the dense Dandeli forests.',
      },
      {
        title: 'Culinary Delights',
        description:
          'Savor local and international flavors with our included meals, from breakfast to dinner.',
      },
    ]}
    image={{
      src: '~/assets/images/image4.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Dandeli Resorts for Every Explorer</h3>
      Unleash Adventure with Dandeli Activities!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-100 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <Content
    isAfterContent
    items={[
      {
        title: 'Archery Action',
        description: `Test your precision with an archery session, adding a touch of adventure to your stay.`,
      },
      {
        title: 'Campfire Connections',
        description:
          'Share stories, laughter, and marshmallows around the campfire under the starry Dandeli sky.',
      },
      {
        title: 'Backwater Bliss',
        description:
          "Explore the serene Backwaters and immerse yourself in the tranquil beauty of the region.",
      },
    ]}
    image={{
      src: '~/assets/images/image2.webp',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Discover, Thrive, and Unwind at Dandeli Resorts</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-100 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Wildlife Encounters',
        description:
          'Embark on a wildlife safari to the Dandeli Wildlife Sanctuary, a paradise for nature enthusiasts.',
      },
      {
        title: 'Zorbing Zone',
        description:
          'Experience the sheer thrill of Zorbing, rolling down gentle slopes in a giant transparent ball.',
      },
      {
        title: 'Supa Dam Vista',
        description:
          'Discover the impressive Supa Dam, a picturesque spot offering stunning views of the landscape and reservoir.',
      },
    ]}
    image={{
      src: '~/assets/images/image5.webp',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Discover Nature's Treasures at Dandeli Resorts</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-100 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
