---
import Gallery from '~/components/widgets/Gallery.astro';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero2.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'DandeliTravels — Your Passport to Wilderness Adventures and Tranquil Retreats',
  ignoreTitleTemplate: true,
};

---
<Layout metadata={metadata}>
  <div id="home">
  <Hero
    actions={[
  {
    variant: 'primary',
    text: 'Call 1',
    href: 'tel:8431474417',
    icon: 'tabler:phone',
  },
  {
    variant: 'primary',
    text: 'Call 2',
    href: 'tel:9980677640',
    icon: 'tabler:phone',
  },
      { text: 'Learn more', href: '#services' },
    ]}
    image={{ src: '~/assets/images/image.png', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      Unlock the Wonders of <span class="text-accent dark:text-white highlight"> Dandeli</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      Unearth the hidden treasures of <span class="font-semibold">Dandeli</span> 
      as you embark on an unforgettable journey with us. Explore the unspoiled beauty, 
      diverse wildlife, and vibrant culture of this enchanting destination, and immerse yourself in the wonders of Dandeli. 
      Your adventure begins here!</span
      >
    </Fragment>
  </Hero>
</div>
  <Features2
    transition:animate="slide"
    id="services"
    title="Ultimate Getaway Destinations"
    subtitle="From Serene Homestays to Vibrant Resorts"
    tagline="Unforgettable Experiences Await!"
    items={[
      {
        title: 'Bespoke Hospitality Experience',
        description:
          'Enjoy a truly tailored hospitality experience that begins the moment you arrive and extends until you depart. Our commitment to personal attention ensures your stay is as exceptional as you are.',
        icon: 'tabler:door',
      },
      {
        title: 'Chill in Style: Cool Homestays',
        description:
          'Experience the epitome of relaxation in our cool homestays, designed with your comfort in mind. Unwind and rejuvenate in a tranquil and stylish setting that feels just like home.',
        icon: 'tabler:home',
      },
      {
        title: "Thrill Seekers' Paradise: Happening Resorts",
        description:
          'Seek adventure and exhilaration at our vibrant resorts, where excitement knows no bounds. Dive into a world of thrills, activities, and entertainment that will make your vacation unforgettable.',
        icon: 'tabler:backpack',
      },
      {
        title: 'Your Desires, Our Priority',
        description:
          'At our destinations, your wishes are at the heart of our service. We cater to your every desire, ensuring a stay that is not just memorable but truly remarkable.',
        icon: 'tabler:24-hours',
      },
      {
        title: 'Entertainment Extravaganza Awaits You',
        description:
          'Get ready for a dose of non-stop fun with our music, masti, and entertainment offerings. Your journey with us promises to be filled with joy, laughter, and unforgettable moments.',
        icon: 'tabler:confetti',
      },
      {
        title: "Nature's Serenity: Scenic Getaways",
        description:
          'Immerse yourself in the tranquility of our scenic getaways, where natural beauty reigns supreme. Explore the wonders of the great outdoors and reconnect with nature in an idyllic setting that soothes the soul.',
        icon: 'tabler:trees',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Gallery
    id="gallery"
    title="Chillscapes: A Gallery of Cool Moments"
    subtitle="Exploring the Icy Beauty of Chilly Moments"
    tagline="Chill Vibes Captured"
  />
  
  <Content
    id="accommodations"
    isReversed
    tagline="Your Home Away from Home"
    title="Relax and Unwind"
    items={[
      {
        title: 'River Rafting Rush',
        description:
          'Take on the thrilling white waters of the Kali River with an exhilarating river rafting adventure.',
      },
      {
        title: 'Lush Jungle Retreat',
        description:
          'Immerse yourself in nature\'s beauty with a night stay amidst the dense Dandeli forests.',
      },
      {
        title: 'Culinary Delights',
        description:
          'Savor local and international flavors with our included meals, from breakfast to dinner.',
      },
    ]}
    image={{
      src: '~/assets/images/image4.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Escape to serenity</h3>
      Discover your sanctuary for relaxation and rejuvenation
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <Content
    isAfterContent
    items={[
      {
        title: 'Archery Action',
        description: `Test your precision with an archery session, adding a touch of adventure to your stay.`,
      },
      {
        title: 'Campfire Connections',
        description:
          'Share stories, laughter, and marshmallows around the campfire under the starry Dandeli sky.',
      },
      {
        title: 'Backwater Bliss',
        description:
          "Explore the serene Backwaters and immerse yourself in the tranquil beauty of the region.",
      },
    ]}
    image={{
      src: '~/assets/images/image2.webp',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Explore, Thrive, and Discover</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Wildlife Encounters',
        description:
          'Embark on a wildlife safari to the Dandeli Wildlife Sanctuary, a paradise for nature enthusiasts.',
      },
      {
        title: 'Zorbing Zone',
        description:
          'Experience the sheer thrill of Zorbing, rolling down gentle slopes in a giant transparent ball.',
      },
      {
        title: 'Supa Dam Vista',
        description:
          'Discover the impressive Supa Dam, a picturesque spot offering stunning views of the landscape and reservoir.',
      },
    ]}
    image={{
      src: '~/assets/images/image5.webp',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Nature's Treasure Trove</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
